body {
    overflow-y: hidden;
    font-family: Comic Sans MS, Comic Sans, cursive;
    padding: 0;
    margin: 0;
}
h1, h2, p {
    margin: 0;
}
header,
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 5px 0;
}
.header_h1 {
    font-weight: bold;
    text-decoration: none;
    font-size: 50px;
    color: orange;
}
.footer_h1,
.footer_text,
.header_text {
    font-size: 30px;
}
.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100vh;
}
.wrapper2 {
    padding: 20px 25px;
    position: absolute;
    top: 10%;
    left: 40%;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}
main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    widows: 100vw;
}
.compare_div {
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 25px;
}
.compare_h1 {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 20px;
    text-align: center;
    border-bottom: 1px solid black;
}
.inline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 5px 0;
}
.add_sets_wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}
#close,
#close2 {
    position: relative;
    top: 5%;
    left: 95%;
    cursor: pointer;
    width: 5%;
    height: 10%;
}
ul {
    list-style: none;
    padding: 0 15px;
    border: 1px solid black;
    border-radius: 15px;
}
ul li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.item_text {
    margin: 0 auto;
    cursor: pointer;
}
.alertMsg {
    top: 2%;
    left: 2%;
    width: fit-content;
    position: absolute;
    background-color: red;
    font-size: 20px;
    padding: 10px 30px;
    color: white;
    animation: 3s opacity ease;
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}